{% load static %}
{% load i18n %}

<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark sticky-top bg-navy">
  <div class="container">
    <a class="navbar-brand mr-5" href="{% url 'index' %}">iRent</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <ul class="navbar-nav">
        <li
            {% if '/en/' == request.path or '/zh-hans/' == request.path %}
              class="nav-item active mr-3"
            {% else %}
              class="nav-item mr-3"
            {% endif %}
        >
          <a class="nav-link" href="{% url 'index' %}">{% translate 'Home' %}</a>
        </li>
        <li
            {% if 'search' in request.path %}
              class="nav-item active mr-3"
            {% else %}
              class="nav-item mr-3"
            {% endif %}
        >
          <a class="nav-link" href="{% url 'search' %}">{% translate 'Search' %}</a>
        </li>
        <li
            {% if 'listings' in request.path and 'search' not in request.path and 'upload' not in request.path %}
              class="nav-item active mr-3"
            {% else %}
              class="nav-item mr-3"
            {% endif %}
        >
          <a class="nav-link" href="{% url 'listings' %}">{% translate 'Listings' %}</a>
        </li>
        <li
            {% if 'upload' in request.path %}
              class="nav-item active"
            {% else %}
              class="nav-item"
            {% endif %}
        >
          <a class="nav-link" href="{% url 'upload' %}">{% translate 'Add a Listing' %}</a>
        </li>
      </ul>

      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown mr-3">
          <a class="nav-link dropdown-toggle" href="/" id="navbarDropdown" role="button" data-toggle="dropdown"
             aria-haspopup="true" aria-expanded="false">
            {% if LANGUAGE_CODE == 'en' %}
              English
            {% else %}
              简体中文
            {% endif %}
            {% comment %}{% trans "English" %}{% endcomment %}
          </a>
          <form action="{% url 'set_language' %}" method="post" id="lang_form">
            {% csrf_token %}
            <input name="next" type="hidden" value="{{ redirect_to }}">
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              {% get_current_language as LANGUAGE_CODE %}
              {% get_available_languages as LANGUAGES %}
              {% get_language_info_list for LANGUAGES as languages %}
              {% for language in languages %}
                <li>
                  <button type="submit" name="language" value="{{ language.code }}"
                          class="{% if language.code == LANGUAGE_CODE %}selected{% else %}demo-text-black{% endif %} dropdown-item">
                    {{ language.name_local }}
                  </button>
                </li>
              {% endfor %}
            </ul>
          </form>
        </li>

        {% if user.is_authenticated %}
          <li
              {% if 'dashboard' in request.path %}
                class="nav-item active mr-3"
              {% else %}
                class="nav-item mr-3"
              {% endif %}
          >
            <a class="nav-link" href="{% url 'dashboard' %}">
              {% translate 'Dashboard' %}</a>
          </li>
          <li class="nav-item">
            <a href="javascript:{document.getElementById('logout').submit()}" class="nav-link">
              <i class="fas fa-sign-out-alt"></i> {% translate 'Logout' %}
            </a>
            <form action="{% url 'logout' %}" method="POST" id="logout">
              {% csrf_token %}
              <input type="hidden">
            </form>
          </li>
        {% else %}
          <li
              {% if 'register' in request.path %}
                class="nav-item active mr-3"
              {% else %}
                class="nav-item mr-3"
              {% endif %}
          >
            <a class="nav-link" href="{% url 'register' %}">
              <i class="fas fa-user-plus"></i> {% translate 'Register' %}</a>
          </li>
          <li
              {% if 'login' in request.path %}
                class="nav-item active"
              {% else %}
                class="nav-item"
              {% endif %}
          >
            <a class="nav-link" href="{% url 'login' %}?next={{ request.path | urlencode }}">
              <i class="fas fa-sign-in-alt"></i> {% translate 'Login' %}</a>
          </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>