{% extends 'base.html' %}

{% load i18n %}

{% block title %}{% translate 'Dashboard' %} | {% endblock %}

{% load humanize %}

{% load thumbnail %}

{% block content %}

  <!-- Showcase -->
  <section class="py-5">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-12">
          <h1 class="display-4">{% translate 'Dashboard' %}</h1>
        </div>
      </div>
    </div>
  </section>

  <!-- Messages -->
  <section class="py-4">
    <div class="container">
      <h4 class="mb-4">{% translate 'Your Messages' %}</h4>
      <div class="row">
        {% if contacts %}
          <table class="table table-bordered table-striped">
            <thead>
            <tr>
              <th style="width: 5%;">#</th>
              <th style="width: 25%;">{% translate 'Listing' %}</th>
              <th style="width: 20%;">{% translate 'Name' %}</th>
              <th style="width: 15%;">{% translate 'Phone' %}</th>
              <th style="width: 25%;">{% translate 'Email' %}</th>
              <th style="width: 10%;">{% translate 'Message' %}</th>
            </tr>
            </thead>
            <tbody>
            {% for contact in contacts %}
              <tr>
                <td>{{ forloop.counter }}</td>
                <td><a href="{% url 'listing' contact.listing_id %}">{{ contact.listing }}</a></td>
                <td>{{ contact.name }}</td>
                <td>{{ contact.phone }}</td>
                <td><a href="mailto:{{ contact.email }}">{{ contact.email }}</a></td>
                <td>
                  <button data-toggle="modal" data-target="#message-modal" class="btn btn-outline-primary btn-block">
                    {% translate 'View' %}
                  </button>
                  <!-- Contact Modal -->
                  <section>
                    <div class="modal fade" id="message-modal" role="dialog">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="inquiryModalLabel">{% translate 'Message' %}</h5>
                            <button type="button" class="close" data-dismiss="modal">
                              <span>&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            <p>{{ contact.message | linebreaks }}</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </section>
                </td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        {% else %}
          <p>{% translate 'You have no messages.' %}</p>
        {% endif %}
      </div>
    </div>
  </section>

  <!-- Listings -->
  <section class="py-4">
    <div class="container">
      <h4 class="mb-4">{% translate 'Your Properties' %}</h4>
      <div class="row">
        {% if listings %}
          <table class="table table-bordered table-striped">
            <thead>
            <tr>
              <th style="width: 5%;">#</th>
              <th style="width: 25%;">{% translate 'Listing' %}</th>
              <th style="width: 15%">{% translate 'Price' %}</th>
              <th style="width: 45%">{% translate 'Address' %}</th>
              <th style="width: 10%">{% translate 'Published' %}</th>
            </tr>
            </thead>
            <tbody>
            {% for listing in listings %}
              <tr>
                <td>{{ forloop.counter }}</td>
                <td><a href="{% url 'listing' listing.id %}">{{ listing.title }}</a></td>
                <td>${{ listing.price | intcomma }}</td>
                <td>{{ listing.address }} {{ listing.address2 }}, {{ listing.city }}, {{ listing.state }} {{ listing.zipcode }}</td>
                <td>
                  <div class="text-center">
                    {% if listing.is_published %}
                      <i class="fa fa-check"></i>
                    {% endif %}
                  </div>
                </td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        {% else %}
          <p>{% translate 'You have no listings.' %}</p>
        {% endif %}
      </div>
    </div>
  </section>

{% endblock %}