{% extends 'base.html' %}

{% block title %} | Register Account {% endblock %}

{% block content %}
    <section id="register" class="bg-light py-5">
        <div class="container">
            <div class="row">
                <div class="col-md-6 mx-auto">
                    <div class="card">
                        <div class="card-header bg-primary text-white">
                            <h4>
                                <i class="fas fa-user-plus"></i> Register</h4>
                        </div>
                        <div class="card-body">
                            <!-- Alerts -->
                            {% include 'partials/alerts.html' %}
                            <form action="{% url 'register' %}" method="POST">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label for="username">Username</label>
                                    <input type="text" name="username" id="username" class="form-control" required>
                                </div>
                                <div class="form-group">
                                    <label for="email">Email</label>
                                    <input type="email" name="email" id="email" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="first_name">First Name</label>
                                    <input type="text" name="first_name" id="first_name" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="last_name">Last Name</label>
                                    <input type="text" name="last_name" id="last_name" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="password">Password</label>
                                    <input type="password" name="password" id="password" class="form-control" required>
                                </div>
                                <div class="form-group">
                                    <label for="password2">Confirm Password</label>
                                    <input type="password" name="password2" id="password2" class="form-control" required>
                                </div>
                                <div class="form-check">
                                    <input type="hidden" name="is_realtor" id="is_realtor" value="False">
                                    <input type="checkbox" name="is_realtor" id="is_realtor" class="form-check-input" value="True">
                                    <label class="form-check-label" for="is_realtor">You are a realtor.</label>
                                </div>
                                <input type="submit" value="Register" class="btn btn-secondary btn-block mt-3">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}