.btn-outline-primary:hover {
    color: #007bff;
    background-color: rgba(0, 132, 255, .06);
}

.btn-outline-success:hover {
    color: #28a745;
    background-color: rgba(0, 132, 255, .06);
}

.btn-outline-danger:hover {
    color: #dc3545;
    background-color: rgba(0, 132, 255, .06);
}

.btn-secondary {
    color: #fff !important;
}

img {
    width: 100%;
}

.logo {
    width: 80px;
}

.social a {
    margin-right: 0.4rem;
}

#showcase {
    position: relative;
    min-height: 650px;
    color: #fff;
    padding-top: 6rem;
}

#showcase .home-search {
    min-height: 400px;
    position: relative;
    border-radius: 5px;
}

#showcase .overlay {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    min-height: 400px;
    width: 100%;
    /*background: rgba(32, 134, 107, 0.8);*/
    background: rgba(102, 102, 102, 0.8);
}

#services {
    min-height: 300px;
    position: relative;
    overflow: hidden;
}

#services::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100%;
    width: 100%;
    background: rgba(32, 134, 107, 0.8);
}

#showcase-inner {
    position: relative;
    overflow: hidden;
    min-height: 200px;
}

#showcase-inner::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100%;
    width: 100%;
    background: rgba(32, 134, 107, 0.8);
}

#showcase-inner.showcase-search {
    min-height: 270px;
}

#work {
    padding: 6rem 0;
}

.listing-preview a {
    position: relative;
}

@media (max-width: 991px) {
    #showcase {
        padding-top: 4rem;
    }

    #showcase h1 {
        font-size: 40px;
    }

    .hide-md-down {
        display: none;
    }
}

@media (max-width: 768px) {
    #showcase {
        padding-top: 3rem;
    }

    #showcase h1 {
        font-size: 40px;
    }

    #showcase p {
        display: none;
    }

    #top-bar {
        text-align: center;
    }

    #top-bar .social {
        text-align: center !important;
    }
}

@media (max-width: 576px) {
    #showcase h1 {
        font-size: 30px;
    }

    #showcase-inner h1 {
        font-size: 40px;
    }
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}

.has-search .form-control {
    padding-left: 2.375rem;
}

.bg-navy {
    background-color: #005;
}

.opacity-9 {
    opacity: 0.9;
}

.bg-price {
    background-color: #0A0;
}